* {
    box-sizing: border-box;
  }

  body {
    margin: 0 auto;
    max-width: 1024px;
    background-color: #fafafa;
    font-family: "Rubik", sans-serif, Arial, Verdana;
  }

  header {
    padding: 25px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }
  nav {
    font-weight: 400;
    letter-spacing: .05em;
  }

  h1, .top-nav {
    text-align: center;
  }
  
  .top-nav, .top-nav li {
    width: 100%;
  }
  
  h1 a, .top-nav a {
    color: #000;
    font-weight: 600;
  }

  .top-nav {
    margin-top: 30px;
  }
  
  .top-nav li {
    padding: 10px 0;
    margin: 5px auto;
    background-color: #fdfdfd;
  }
  
  .top-nav a {
    text-transform: uppercase;
  }

  .intro {
    text-align: center;
  }
  .profile-image {
    width: 100%;
  }
  .message {
    color: #838383;
  }

@media (min-width: 768px) {
  .top-nav {
    margin-top: 0;
  }

  .top-nav li {
    display: inline-block;
    width: auto;
    margin-right: 15px;
    background-color: transparent;
  }

  .top-nav li:last-child {
    margin-right: 0;
  }
  .intro {
    display: flex;
    margin-top: 30px;
  }
  .profile-image {
    order: 1;
  }
  .message {
    text-align: left;
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .top-nav, 
  .top-nav li {
    width: initial;
    margin-bottom: 0;
  }
}